<div class="mt-5 ">

    <h2 class="text-center">Abous us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores error exercitationem ut totam accusantium? Id, sunt voluptatum sint voluptas blanditiis odit praesentium quae maiores quos quasi quibusdam suscipit reprehenderit labore.</p>

    <h3>Team</h3>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let member of team, index as i">
            <h6>Name: {{member.name}}</h6>
            <h6>Specialty: {{member.specialty}}</h6>
            <a [routerLink]="['/team',i+1]">Read more ...</a>
            <!-- <h6>Description: {{member.description}}</h6> -->
            
           
        </li>
       
      </ul>
</div>