<div class="mt-5">

    <h2 class="text-center">Home</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum ratione quas laboriosam eligendi, velit fugiat! Natus quis aliquam rem quaerat in alias veniam, sed rerum, corrupti consequatur soluta facilis amet.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel saepe reprehenderit tempora. Est exercitationem nesciunt recusandae vel nostrum doloribus tempore, corporis in obcaecati ea. Nobis rerum modi quod officiis et!</p>
</div>
